.ProseMirror {
  @apply w-full h-full p-4 outline-none ring-0 font-mono leading-loose break-words;
}

.ProseMirror p {
  @apply m-0;
}

.ProseMirror strong {
  @apply font-semibold;
}

/* Paragraph styles */

.ProseMirror p[acat-style="question"],
.ProseMirror p[acat-style="answer"] {
  @apply indent-16;
}

.ProseMirror p[acat-style="question"]::before,
.ProseMirror p[acat-style="answer"]::before {
  @apply font-semibold -ml-10 mr-4;
}

.ProseMirror p[acat-style="question"]::before {
  content: "Q.";
}

.ProseMirror p[acat-style="answer"]::before {
  content: "A.";
}

.ProseMirror p[acat-style="colloquy"] {
  @apply indent-24;
}

.ProseMirror p[acat-style="byline"] {
  @apply font-semibold;
}

.ProseMirror p[acat-style="centered"] {
  @apply text-center font-semibold;
}

.ProseMirror p[acat-style="paren"] {
  @apply italic indent-40;
}

.ProseMirror p[acat-style="quoted"] {
  @apply ml-32 pl-6;
  border-left: 2px solid rgb(228, 226, 228);
}

/* Continuation styles */

.ProseMirror p[acat-style="question"] + p[acat-style="question"]::before,
.ProseMirror p[acat-style="answer"] + p[acat-style="answer"]::before {
  content: "";
  @apply m-0;
}
