acat-tl {
  @apply border border-red-400 rounded-md pr-1 mr-1;
}

acat-strk::after {
  content: attr(steno);
  @apply bg-red-400 px-1 text-white;
}

acat-strk + acat-strk::before {
  content: "/";
  @apply bg-red-400 text-white -mr-0.5 -ml-0.5;
}

acat-strk:first-of-type::after {
  @apply rounded-l;
}

acat-strk:last-of-type::after {
  @apply rounded-r mr-1;
}
