.ProseMirror {
  @apply w-full h-full p-4 outline-none ring-0;
}

.ProseMirror p {
  @apply m-0;
}

.ProseMirror strong {
  @apply font-semibold text-gray-800 dark:text-gray-50;
}

.ProseMirror-selectednode {
  @apply text-gray-800 bg-brand-100 dark:text-gray-50 dark:bg-brand-400;
}

.ProseMirror acat-untran {
  @apply text-red-400;
}

.show-inline-steno acat-tl {
  @apply border border-red-400 rounded-md pr-1 mr-1;
}

.show-inline-steno acat-strk::after {
  content: attr(steno);
  @apply bg-red-400 px-1 text-white;
}

.show-inline-steno acat-strk + acat-strk::before {
  content: "/";
  @apply bg-red-400 text-white -mr-0.5 -ml-0.5;
}

.show-inline-steno acat-strk:first-of-type::after {
  @apply rounded-l;
}

.show-inline-steno acat-strk:last-of-type::after {
  @apply rounded-r mr-1;
}

/* Paragraph styles */

.ProseMirror p[acat-style="question"],
.ProseMirror p[acat-style="answer"] {
  @apply indent-16;
}

.ProseMirror p[acat-style="question"]::before,
.ProseMirror p[acat-style="answer"]::before {
  @apply font-semibold -ml-10 mr-4 text-gray-800 dark:text-gray-50;
}

.ProseMirror p[acat-style="question"]::before {
  content: "Q.";
}

.ProseMirror p[acat-style="answer"]::before {
  content: "A.";
}

.ProseMirror p[acat-style="colloquy"] {
  @apply indent-24;
}

.ProseMirror p[acat-style="byline"] {
  @apply font-semibold text-gray-800 dark:text-gray-50;
}

.ProseMirror p[acat-style="centered"] {
  @apply text-center font-semibold text-gray-800 dark:text-gray-50;
}

.ProseMirror p[acat-style="paren"] {
  @apply italic indent-40;
}

.ProseMirror p[acat-style="quoted"] {
  @apply ml-32 pl-6 border-l-2 border-gray-200 dark:border-gray-400;
}

/* Continuation styles */

.ProseMirror p[acat-style="question"] + p[acat-style="question"]::before,
.ProseMirror p[acat-style="answer"] + p[acat-style="answer"]::before {
  content: "";
  @apply m-0;
}
