@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts/BasierSquare.css");
@import url("./fonts/BasierSquareMono.css");

html,
body,
#root {
  @apply w-screen h-screen;
}

body {
  @apply font-sans dark:bg-gray-700 selection:bg-brand-100 selection:text-black dark:selection:bg-brand-400 dark:selection:text-white;
}

#root {
  @apply flex flex-col;
}

@layer utilities {
  .break-words {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 30%;
      animation-timing-function: cubic-bezier(0.75, 0, 1, 1);
    }
    50% {
      opacity: 80%;
      animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
    }
  }
  .animate-blink {
    animation: blink 1s linear infinite;
  }
}
