@import url(http://cdn.sammdot.ca/fonts/BasierSquare.css);
@import url(http://cdn.sammdot.ca/fonts/BasierSquareMono.css);

h1,
h2,
h3 {
  font-weight: bold;
}

.sidebar-brand-text {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 500;
}

.sidebar-brand {
  text-align: center;
}

.sidebar-brand:hover {
  color: var(--color-sidebar-brand-text--hover);
}

.toctree-wrapper.compound > p.caption {
  display: none;
}

.toctree-l1 {
  margin: 12px;
}

.toctree-l2 {
  margin: 4px;
}
